.page-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 100vh;
}

.content-favorites {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-favorites h3 {
    font-size: 35px;
}

.conteiner-fav-img {
    width: 50%;
}

.conteiner-fav-title {
    margin-left: 15%;
    width: 50%;
}

.img-fav {
    width: 300px;
    height: auto;
}