@media only screen and (max-width: 480px) {

    .page-favorites {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .content-favorites {
        padding-top: 10%;
        align-items: center;
        background-color: white;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%
    }

    .favorites {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
    }

    .content-favorites h3 {
        font-size: 25px;
        padding: 2px;
    }

    .conteiner-fav-img {
        width: 90%;
    }

    .conteiner-fav-title {
        width: 90%;
    }

    .img-fav {
        width: 90%;
        height: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px ) {

    .page-favorites {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .content-favorites {
        padding-top: 10%;
        align-items: center;
        background-color: white;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .favorites {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
    }

    .content-favorites h3 {
        font-size: 25px;
        padding: 2px;
    }

    .conteiner-fav-img {
        width: 90%;
    }

    .conteiner-fav-title {
        width: 90%;
    }

    .img-fav {
        width: 90%;
        height: auto;
    }
}

@media only screen and (min-width: 961px) {

.page-favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content-favorites {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.content-favorites h3 {
    font-size: 35px;
}

.conteiner-fav-img {
    width: 50%;
}

.conteiner-fav-title {
    margin-left: 15%;
    width: 50%;
}

.img-fav {
    width: 300px;
    height: auto;
}
}
