@media only screen and (max-width: 480px) {

    @keyframes showSidebar {
        from {
          opacity: 1;
          height: 84px;
        }
        to {
          opacity: 1;
          height: 168px
        }
    }

    .nav-bar-1 {
        display: none;
    }
    
    .nav-bar-2 {
        animation: showSidebar;
        animation-duration: .4s;
        background-color: black;
        height: 20%;
        position: absolute;
        top: 10%;
        width: 100vw;
        z-index: 1;
    }
    
    .show-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icon-element {
        align-items: center;
        color: orangered;
        display: flex;
        font-size: 25px;
        height: 10%;
        justify-content: center;
        position: absolute;
        width: 20%;
        z-index: 1;
    }
    
    .nav-name {
        display: none;
    }
    
    .links > a {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        text-align: center;
        color: orangered;
        margin-right: 5px;
    }

    .links > a svg {
        font-size: 20px;
        width: 30px;
        margin-right: 10px;
    }

    .links > a p {
        color: orangered;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px ) {

    @keyframes showSidebar {
        from {
          opacity: 1;
          height: 84px;
        }
        to {
          opacity: 1;
          height: 205px
        }
    }

    .nav-bar-1 {
        display: none;
    }
    
    .nav-bar-2 {
        animation: showSidebar;
        animation-duration: .4s;
        background-color: black;
        height: 15%;
        position: absolute;
        top: 10%;
        width: 100vw;
        z-index: 1;
    }
    
    .show-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .icon-element {
        align-items: center;
        color: orangered;
        display: flex;
        font-size: 25px;
        height: 10%;
        justify-content: center;
        position: absolute;
        width: 20%;
        z-index: 1;
    }
    
    .nav-name {
        display: none;
    }
    
    .links > a {
        align-items: center;
        display: flex;
        text-decoration: none;
        text-align: center;
        color: orangered;
        width: 12vw;
    }

    .links > a svg {
        font-size: 20px;
        width: 30px;
        margin-right: 10px;
    }

    .links > a p {
        color: orangered;
    }
}

@media only screen and (min-width: 961px) {

    @keyframes showSidebar {
        from {
          opacity: 1;
          width: 60px;
        }
        to {
          opacity: 1;
          width: 15vw
        }
    }

    .nav-bar-1 {
        display: flex;
        background-color: black;
        flex-direction: column;
        height: 90%;
        position: absolute;
        top: 10%;
        width: 5vw;
        z-index: 1;
    }
    
    .nav-bar-2 {
        animation: showSidebar;
        animation-duration: .4s;
        background-color: black;
        height: 90%;
        position: absolute;
        top: 10%;
        width: 15vw;
        z-index: 1;
    }
    
    .icon-element {
        align-items: center;
        background-color: black;
        color: orangered;
        display: flex;
        font-size: 25px;
        height: 10%;
        justify-content: center;
        position: absolute;
        width: 5%;
        z-index: 1;
    }

    .show-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hide-nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .links {
        margin-top: 5px;
        height: 50px;
    }

    .links > a {
        align-items: center;
        display: flex;
        text-decoration: none;
        text-align: center;
        color: orangered;
        justify-content: center;
    }

    .links > a svg {
        font-size: 20px;
        width: 30px;
    }

    .links > a p {
        color: orangered;
    }
}
