.page-album {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
}

.data-album {
  text-align: center;
  width: 50%;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
